@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme :default{


  --color-custom-darkblue: #28283A;
  --color-custom-darkblue-shadow: #1A1A2B;
  --color-custom-grey-text: #4E4E52;


  --animate-dropdown: dropdown 0.1s ease-in-out ;

  @keyframes dropdown {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
